.answer {
	position: relative;
	display: inline-block;
	&:nth-child(3) {
		margin-right:0;
		label {
			padding-right:0;
		}
	}
}

.answer label {
	display: block;
	font-size: 1.85em;
	font-family: $archer;
	font-weight:400;
	position: relative;
	text-align: left;
	z-index:10;
	cursor: pointer;
	-webkit-transition: all 0.25s linear;
    padding: 10px 34px 10px 28px;
	margin: 10px auto;
	line-height: 25px;
}

.answer:hover label{
	color: #2b2b2b;
}///this is the text hover

.answer .radio-btn {
	 display:block;
	 position: absolute;
	 border: 1px solid black;
	 border-radius: 100%;
	 height: 13px;
	 width: 13px;
	 top: 26px;
	 z-index: 5;
}// this is the check box i made

.answer:hover .radio-btn {
  border: 1px solid #2b2b2b;
}//this is the hover for the radio btn

.answer .radio-btn::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 5px;
	width: 5px;
	top: 2px;
	left: 2px;
	margin: auto;
	// background: white;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;
}//dot in center

.answer input[type=radio]{
  position: absolute;
  visibility: hidden;
  left: 3px;
  top: 12px;
}//the real radio button

.answer input[type=radio]:checked ~ .radio-btn {
  border: 2px solid $pink;
} //outside of check

.answer input[type=radio]:checked ~ .radio-btn::before{
  background-color: $pink; //this is the checked one
  display: block;
}//the checked dot in the center

// input[type=radio]:checked ~ .answer label{
//   color: black;
// }//the checked label text

