@mixin headerStyle($sizeValue) {
	font-size: $sizeValue;
	text-align: center;
	margin:0;
	padding:0;
}

@mixin viewheight($sizeValue) {
	font-size: $sizeValue;
	text-align: center;
	margin:0;
	padding:0;
}

body {
	margin:0;
	background-color: $tan;
	letter-spacing: 0.03em;
	font-size: 10px;
	height:100vh;
	min-height:600px;
}

.wrapper {
  max-width:980px;
  margin:0 auto;
  width:80%;
}

.main-header, .initial-question {
	height:100vh;
	min-height:600px;
	position:relative;
}

.main-form fieldset {
    border: 0;
    // min-height:100vh;
}

//-----global elements----
.question2 .answers {
	// display:block;
	.answer label{
    	padding-right: 0px;
	}
}
.question2 .answers {
	// display:block;
	.answer label{
    	padding-right: 0px;
	}
}
.question3 .answers {
	 margin-bottom: 40px;
}
.answers {
	display: flex;
	justify-content: center;
	margin-top: 6px;
	position:relative;
	margin-bottom: 50px;
	&::after{
		content: "";
		width: 140px;
		background: grey;
		height: 1px;
		position: absolute;
		bottom: -36px;
	}
}
.noafter::after{
	display:none;
}

.question-t {
	width: 59%;
	margin: 30px auto 0;
}

//-----global elements-----


// ----global styles-----

h2 {
    @include headerStyle(13em);
    font-family: $sutro;
    font-weight: 400;
    font-style: normal;
    color: $pink;
}

h3 {
	@include headerStyle(10em);
	font-family: $sarah;
	font-weight: 100;
	color:$blue;
}

h4 {
	@include headerStyle(3em);
	font-family: $sutro2;
	font-weight:400;
	font-style: normal;
	width:68%;
	margin: 30px auto 15px;
	text-align: center;
	line-height: 30px;
	color:$pink;
}

p {
	@include headerStyle(2.75em);
	font-family: $archersemi;
	// font-weight: 600;
	text-transform: uppercase;
	color:$pink;
	line-height: 30px;
}

.btn-wrapper {
	margin: 0 auto;
	text-align: center;
	width: 100%;
	a {
	font-family: $archersemi;
	}
	a#btn1 {
		font-family:$archerbold;
		text-decoration: none;
		// border: 1px solid #d72c42;
		width: 125px;
		padding: 11px 21px 2px;
		display: block;
		margin: 55px auto 0;
		text-transform: uppercase;
		color:$pink;
		// font-weight: 700;
		letter-spacing: 0.12em;
		font-size:1.1em;
		&:hover {
			color:#de4444;
		}
		&:hover .arrow-small .fa.fa-angle-down{
			color:#de4444;
		}
	}
}
.arrow-small .fa.fa-angle-down{
	margin: 0;
	color: #ff7e74;
	display: inline-block;
	line-height: 29px;
	font-size: 3em;

}

.menu-form {
	border: 1px solid #000f33;
    max-width: 940px;
    width: 85%;
    margin: 0 auto;
    padding: 65px 85px;
}

.question-title {
	margin-bottom: 85px;
}


// -----global-----//

// ---------first----
.title1 {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -70%);
	p {
		@include headerStyle(2.2em);
		font-family: $archersemi;
		// font-weight: 600;
		text-transform: uppercase;
		line-height: 0;
		color:$blue;
	}
}

.well {
	font-size:14.2em;
}

.tilt {
	-ms-transform: rotate(7deg); /* IE 9 */
	-webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(-5deg);
    line-height: 14px;
    .head1 {
	@include headerStyle(10.5em);
	}
}

.fa.fa-angle-down {
	text-align: center;
	margin: 220px auto 0;
	width: 100%;
	font-size: 7.8em;
	color:$pink;
}
//-----first-------


// ----initial question-----

.initial-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.what {
	font-family: $sutro2;
	font-weight:400;
	font-style: normal;
	width:50%;
	margin: 0 auto;
	font-size: 6em;
	text-align: center;
	line-height: 51px;
}

.party {
	font-size: 5.8em;
}

.number1 {
	margin: 0 auto 35px;
}

// ----initial question-----

.submit-container {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	input[type=submit].btn {
		font-family: $archersemi;
		text-decoration: none;
		border: none;
		padding: 14px 22px 14px;
		display: block;
		margin: 0 auto;
		text-transform: uppercase;
		color:#eeeeee;
		// font-weight: 700;
		letter-spacing: 0.12em;
		font-size:1.1em;
		background: $button;
		cursor: pointer;
		&:hover {
			background:#de4444;
		}
	}
}

*:focus {
    outline: none;
}


.results {
	height: 100vh;
	position:relative;
	// min-height:900px;
}

.p-result {
	text-transform: none;
	color:$blue;
	font-size:2em;
}

.info {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-bottom: 50px;
}

.results-image {
	width: 35%;
    margin: 0 auto;
    text-align: center;
    img {
    	width:100%;
    }
}

.the-price {
	color:$blue;
	font-size:2em;
	margin-bottom: 20px;
}

.next-container {
	margin: 0 auto;
	text-align: center;
	}
button[type=button], .restart-btn button{
		font-family: $archersemi;
		text-decoration: none;
		border: none;
		padding: 14px 22px 14px;
		display: block;
		margin: 40px auto;
		text-transform: uppercase;
		color:#eeeeee;
		// font-weight: 700;
		letter-spacing: 0.12em;
		font-size:1.1em;
		background: $button;
		cursor: pointer;
		&:hover {
			background:#de4444;
		}
	}

button[type=button]::after{
			content: "";
			width: 470px;
			background: grey;
			height: 1px;
			position: absolute;
			bottom: 100px;
			left: 50%;
			transform: translate(-50%);
}


.fa.fa-angle-right {
	font-size: 1.2em;
	line-height: 9px;
	margin-left: 7px;
}

.blackout-message {
	text-transform: none;
	color: $blue;
	font-size: 1.4em;
	line-height: 16px;
	margin-top: 31px;
}